* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-container {
  background-color:#ff00ff;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

.header-container > div {
  flex-basis: 140px;
  height: 70px;
  background-color: #F6B6CD;
  margin: 0 10px;
}

.header-container > :first-child {
  margin-right: auto;
}

.main-container {
  display: flex;
  justify-content: center;
}

.left-box {
  width: 300px;
  background-color: #93EC97;
}

.right-box {
  max-width: 700px;
  flex-grow: 1;
  background-color: #01A209;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.right-box > div {
  background-color: #F8E914;
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
}

.footer-container {
  width: 100%;
  background-color:#4B4DF1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-container > div {
  flex-basis: 45%; max-width: 600px;
  height: 40px;
  background-color: #A2DFF3;
  margin: 10px;
}